[Unit]
Description=Workers PPM
After=redis-server.service

[Service]
Type=simple
User=ppm
Group=ppm
WorkingDirectory=/opt/ppm
SyslogIdentifier=ppm-workers

ExecStart=/opt/ppm/app/console packagist:run-workers
ExecStop=

Restart=on-failure

[Install]
WantedBy=multi-user.target