[Unit]
Description=Workers PPM
After=redis-server.service

[Service]
User=ppm
Group=ppm
WorkingDirectory=/opt/ppm
SyslogIdentifier=ppm-workers

ExecStart=/opt/ppm/app/console packagist:run-workers
ExecStop=

Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target
